/* Primary */

$clr-primary-100: hsl(185, 75%, 39%);
$clr-primary-400: hsl(227, 10%, 46%);
$clr-primary-600: hsl(229, 23%, 23%);

/* Neutral */

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 90%);
$clr-neutral-400: hsl(0, 0%, 59%);