@import 'reset';
@import 'colors';
@import 'fonts';
@import 'variables';

body {
  font-family: $ff-normal;
  font-weight: $fw-normal;
  font-size: $fs-normal;
  line-height: $lh-normal;
  background: royalblue;
  color: $clr-neutral-400;
  background: url('./assets/images/bg-pattern-top.svg'),
              url('./assets/images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top -550px left -66%, bottom -650px right -50%;
  background-color: $clr-primary-100;

}

main {
  height: 100%;
  display: grid;
  grid-auto-columns: minmax(auto, 380px);
  place-content: center;
  margin: 1rem;
}

.profile {
  position: relative;
  width: 100%;
  max-width: 360px;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./assets/images/bg-pattern-card.svg') blue repeat;
  background-size: contain;
  border-radius: $br-normal;
}

.profile__img {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid $clr-neutral-100;
  border-radius: 50%;
}

.profile__body,
.profile__footer {
  background-color: $clr-neutral-100;
  text-align: center;
}

.profile__body {
  width: 100%;
  padding: 4.5rem 0 1.5rem;
}

.profile__person-name,
.profile__footer-total {
  font-weight: $fw-bold;
  color: $clr-primary-600;
}

.profile__personal {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 0.5rem;
}

.profile__person-location {
  font-size: 0.875rem;
}

.profile__footer {
  width: 100%;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid $clr-neutral-200;
  border-radius: 0 0 $br-normal $br-normal;
}

.profile__footer-section {
  font-size: 0.65rem;
  letter-spacing: 1px;
}

.profile__footer-total {
  font-size: $fs-normal;
  letter-spacing: normal;
  margin-bottom: 0.125rem;
}
